<p id="notice"><%= notice %></p>
<div class = 'section'>
  <div class ='has-text-centered'>
    <h1 class = 'title is-2'><br>Search for Flights:</h1>
  </div>

  <div class ='container'>
    <%= simple_form_for(:search, method: :get, url: root_path) do |f|%>
    <%= f.error_notification%> <br>

      <div class ='columns'>
        <div class = 'column'>
          <%= f.input :from_airport,
                collection: Flight.all.map{|flight| flight.from_airport.code}.uniq,
                input_html: {class: 'input', value:''},
                placeholder: 'From City',
                wrapper: false,
                label_html: {class: 'label'}
                %>
        </div>
        <div class = 'column'>
          <%= f.input :to_airport,
                collection: Flight.all.map{|flight| flight.to_airport.code}.uniq,
                input_html: {class: 'input', value:''},
                placeholder: 'To City',
                wrapper: false,
                label_html: {class: 'label'}
                %>
        </div>
        <div class = 'column'>
          <%= f.input :number_of_passengers,
                collection: %w[1 2 3 4 5 6],
                input_html: {class: 'input', value:''},
                wrapper: false,
                label_html: {class: 'label'}
                %>
        </div>
        <div class = 'column'>
          <%= f.input :date,
                input_html: {class: 'input date', type: 'date', value:''},
                wrapper: false,
                label_html: {class: 'label'}
                %>
        </div>
      </div>
      <div class = 'has-text-centered' >
        <%= f.submit 'Search',class: 'button is-large is-rounded' %>
      </div>

    <%end%>
  </div>
</div>

<div class ='section'>
  <% if params[:search]%>
    <%= render 'flight_select'%>
  <%end%>
</div>
